@charset "UTF-8";

body {
	background: rgb(217, 255, 252);
        background: linear-gradient(220deg, rgba(226, 226, 2226, 0.9892157546612395) -150%, rgba(230, 230, 230, 0.9584034297312675) 33%, rgba(255, 255, 255, 1) 88%) fixed;
        background-size: 150%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

	
}

a {
	color:dimgray;
	font-weight: normal;
	font-style:normal;
	text-decoration: none;

}

h1 a {
	color: black;
	margin-bottom: -50%;
    padding-left: 15px;
}

ul {
    margin-top:-1.25em;
    margin-left: 2.5%;
}